/* Custom Properties */
:root {
    --ff-lato: 'Lato', sans-serif;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-dark: #1f1f1f;
    --clr-light: #ffffff;
    --clr-grey: #666666;
    --clr-accent: #448ee5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: var(--ff-lato);
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app-icon {
    width: 18em;
    margin-bottom: 5em;
    box-shadow: 0 0 1.75em rgba(0, 0, 0, 0.5);
    border-radius: 15%;
}

#download-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.download-btn {
    height: 5em;
    margin: 1em;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--clr-light);
    background-color: var(--clr-dark);
}

footer ul {
    list-style: none;
    padding: 1rem 0;
}

footer li {
    display: inline-block;
    text-align: center;
    margin: auto 1em;
}

footer li a {
    color: var(--clr-light);
    text-decoration: none;
}

/* Small Device Changes */
@media (max-width: 1050px) {
    #app-icon {
        width: 12em;
        margin-bottom: 4em;
    }

    #download-btns {
        flex-direction: column;
    }

    footer li {
        margin: auto 0.5em;
    }
}